DATABASE_URL=https://zgkljhbuilnuwaurbfus.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_URL=https://zgkljhbuilnuwaurbfus.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-public-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
ADMIN_PASSWORD=PutokAdmin123!
